@model MOE.Common.Business.WCFServiceLibrary.GreenTimeUtilizationOptions
<div class="card">
    <div class="card-header">Green Time Utilization Options</div>
    <div class="card-body">
        <div class="">
            @Html.LabelFor(model => model.SelectedBinSize, new { htmlAttributes = new { @class = "control-label" } })
            @Html.EditorFor(model => model.SelectedBinSize, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedBinSize, "", new { id = "SelectedBinSize-error", @class = "text-danger" })
        </div>
        <div class="">
            @Html.LabelFor(model => model.SelectedAggSize, new { htmlAttributes = new { @class = "control-label" } })
            @Html.EditorFor(model => model.SelectedAggSize, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedAggSize, "", new { id = "SelectedAggSize-error", @class = "text-danger" })
        </div>
        <div class="">
            @Html.EditorFor(model => model.ShowAverageSplit, new { htmlAttributes = new { @class = "" } })
            @Html.LabelFor(model => model.ShowAverageSplit, new { htmlAttributes = new { @class = "control-label" } })
        </div>
        <div class="">
            @Html.EditorFor(model => model.ShowProgrammedSplit, new { htmlAttributes = new { @class = "" } })
            @Html.LabelFor(model => model.ShowProgrammedSplit, new { htmlAttributes = new { @class = "control-label" } })
        </div>
    </div>
    </div>

